/* css_1 : header, aside , section 3
css_2 : nav, section1, secion2 */

   /* ---------------- 사이드바 (nav, 공통) --------------------*/
.side-bar{
  z-index: 2;
  position: fixed;
  overflow: scroll;
  top: 60px;
  left: 0;
  min-width: 250px;
  width: 0;
  height: calc(100vh - 60px);
  background: #212121;
  padding-right: 10px;
}
  
.links{
  display: block;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}
  
.links img{
  border-radius: 50%;
  height: 100%;
  margin-right: 20px;
}
  
.links:hover,
.links.active:hover{
  background: rgba(0, 0, 0, 0.1);
}
  
.seperator{
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.side-bar::-webkit-scrollbar{
  display: flex;
}
  /*----------------- section 1 (video.html) ---------------- */
body {
  background: #181818;
}

.filters{
  width: 100%;
  margin-left: 250px;
  background: #212121;
  position: fixed;
  z-index: 1;
  padding: 12px 0px 12px 24px;
}

/* 버튼을 비디오리스트 좌상단에 맞추는 것 고민해봐야함 */

.filters > button{
  color: #ffffff;
  background-color: #303030;
  border-style: solid;
  border-color: #212121;
  border-radius: 32px;
  box-sizing: border-box;
  text-align: center;
  padding: 8px 12px;
}

.filters > button:hover{
  background: rgba(0, 0, 0, 0.1);
}

.thumbnail-row{
  margin-left: 200px;
  padding: 20px;
}

/* 댓글 */
.comment-header,
.comment-text,
.count,
.comments-dropdown{
  color: #ffffff;
}

.comment-header > span{
  color: #AAA;
}


/*----------------- video section ---------------- */

section{
  float: left;
  justify-content: center;
}

#primary{
  position: relative;
  margin: 130px;
}

/*------------- aside content -------------*/

#content{
  display: flex;
  margin-top: 84px;
  max-width: 500px;
}

.content-top-menu{
  display: flex;
  position: absolute;
  align-items: flex-start;
  justify-content: flex-start;
}

.content-top-menu > button{
  background-color: #303030;
  border: 1px solid #aaaaaa;
  border-radius: 32px;
  text-align: center;
  padding: 8px 12px;
  margin-right: 10px;
  
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content-top-menu > button:hover{
  background: rgba(0, 0, 0, 0.1);
}

#videolist > div{
  display: flex;
  float : left;
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 378px;
  height: 156px;
  object-fit: cover;
}