/* css_1 : header, aside , section 3
css_2 : nav, section1, secion2 */

  /* ---------------- 사이드바 (nav, 공통) --------------------*/
.side-bar{
  z-index: 500;
  position: fixed;
  overflow: scroll;
  top: 60px;
  left: 0;
  width: 250px;
  height: calc(100vh - 60px);
  background: #212121;
  padding-right: 10px;
  display: var(--side-bar);
}
  
.links{
  display: block;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}
.Avatar {
  display: block;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

.Avatar img {
  height: 100%;
  margin-right: 20px;
  border-radius: 50%;
}  
.links img{
  height: 100%;
  margin-right: 20px;
}
  
.links:hover,
.links.active:hover{
  background: rgba(0, 0, 0, 0.1);
}
  
.seperator{
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.side-bar::-webkit-scrollbar{
  display: flex;
}
  /*----------------- section 1 (video.html) ---------------- */
body {
  background: #181818;
}

.filters{
  width: 100%;
  margin-top: 60px;
  background: #212121;
  position: fixed;
  z-index: 1;
  padding: 12px 0px 12px 24px;
}

.filters > button{
  color: #ffffff;
  background-color: #303030;
  border-style: solid;
  border-color: #212121;
  border-radius: 32px;
  box-sizing: border-box;
  text-align: center;
  padding: 8px 12px;
}

.filters > button:hover{
  background: rgba(0, 0, 0, 0.1);
  transition: all 1s;
}

.filter-options.hidden {
  display: none;
}

.thumbnail-row{
  margin-left: 200px;
  padding: 20px;
}


/*----------------- video section ---------------- */

section{
  justify-content: center;
}

#primary{
  margin-top: 84px;
  padding: 0px 24px;
}

/*------------- comment -------------*/
.comments{
  color: #ffffff;
}
.comment-header > span,
.comment-toolbar,
.comment-toolbar > p{
  color: #AAA;
}
#comment{
  color: #ffffff;
}
#commentSubmit{
  background-color: #303030;
  border: 1px solid #aaaaaa;
  border-radius: 32px;
  text-align: center;
  padding: 8px 12px;
  color: #ffffff;
  font-size: 14px;
  margin-left: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
#commentSubmit:hover {
  background: rgba(0, 0, 0, 0.1);
}

#commentCancel{
  background-color: #303030;
  border: 1px solid #aaaaaa;
  border-radius: 32px;
  text-align: center;
  padding: 8px 12px;
  color: #ffffff;
  font-size: 14px;
  margin-left: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
#commentCancel:hover {
  background: rgba(0, 0, 0, 0.1);
}

/* write-comment */
.write-comment{
  width: 640;
  height: 144px;
  padding-top: 24px;
  margin-bottom: 32px;
  border-top: 1px solid #303030;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.write-comment > div{
  display: flex;
}
.count{
  margin-right: 32px;
}
.count,
.comments-dropdown{
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
  text-transform: capitalize;
}
.comments-dropdown > img{
  padding: 5px 3px 6px 3px;
}
.write-area > img,
.profile-pic > img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 16px;
}
#comment{
  width: 584px;
  height: 25px;
  background-color: rgba(0, 0, 0, 0);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  border: 0;
  border-bottom: 1px solid #303030;
}

/* view-comment */
.view-comment > div{
  display: flex;
  padding-bottom: 16px;
}
.comment-header,.comment-text{padding: 2px 0px;}

.comment-toolbar{
  display: flex;
  padding: 12px 0px;
}
.comment-toolbar > img{
  margin: 0px 8px;
}

/*------------- aside content -------------*/

#content{
  display: flex;
  margin-top: 84px;
  max-width: 500px;
}

.content-top-menu{
  display: flex;
  position: absolute;
  align-items: flex-start;
  justify-content: flex-start;
}

.content-top-menu > button{
  background-color: #303030;
  border: 1px solid #aaaaaa;
  border-radius: 32px;
  text-align: center;
  padding: 8px 12px;
  margin-right: 10px;
  
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content-top-menu > button:hover{
  background: rgba(0, 0, 0, 0.1);
}

#videolist > div{
  display: flex;
  float : left;
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 378px;
  height: 156px;
  object-fit: cover;
}

/*----------------- 반응형 작업 진행 ---------------- */

@media ( max-width: 1023px ) {
  .mini-side-bar{
    display: var(--mini-side-bar,none);
  }
  .side-bar {
    display: var(--side-bar, block);
  }
  #sectionInner{
    margin-left: var(--sectionInner,250px);
  }

}
@media ( max-width: 800px ) {
  .mini-side-bar{
    display: var(--mini-side-bar,block);
  }
  .side-bar {
    display: var(--side-bar, none);
  }
  #sectionInner{
    margin-left: var(--sectionInner,80px);
  }
  .user-options, .mic{
    display: none;
  }
}

@media ( max-width: 600px ) {
  .mini-side-bar{
    display: var(--mini-side-bar,none);
  }
  .side-bar {
    display: var(--side-bar, none);
  }
  #sectionInner{
    margin-left: var(--sectionInner,0px);
  }
  .user-options, .mic, .logo{
    display: none;
  }
  .search-box {
    margin: 10px;
    width: 90%;
  }
}

/*준형님 위치 확인해주세요!*/
.text-box {
  position: absolute;
  left: 0;
  padding: 5px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  z-index: 3;
}