/********** header 스타일 2023-07-25 **********/
/*css_1 : header, aside , section 3
css_2 : nav, section1, secion2 */

/********** 공통 스타일 1 **********/
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


/* span태그 : video 파트 좋아요 싫어요 등 이 부분
 색깔 변경에 관여하고 있어, p+span 묶음.
 p, span 태그 스타일 별도로 작성 필요 시 분리 (작성자 : 김민호) */

p, span{
  color: #ffffff;
  margin-left: 12px;
  margin-bottom: 3px;
  font-family: sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/********* 상단 네비바 **********/

.navbar{
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background: #212121;
  display: flex;
  align-items: center;
  padding: 0 2.5vw;
  z-index: 2;
}

/* 토클 버튼, HTML 내에서 이미지로 대체 예정 */
.toggle-btn{
  width: 20px;
  height: 10px;
  position: relative;
  cursor: pointer;
}

.logo{
  cursor: pointer;
  height: 30px;
  margin: -10px 30px 0;
}

.search-box{
  position: relative;
  max-width: 500px;
  width: 50%;
  height: 35px;
  display: flex;
}

.search-bar{
  width: 470px;
  height: 40px;
  border: 1px solid #303030;
  padding: 0 10px;
  font-size: 15px;
  text-transform: capitalize;
  color: #ffffff;
  border-radius: 2px 0px 0px 2px;
  background: #121212;
  border-right: 0;
}

.search-btn{
  width: 10%;
  height: 40px;
  background: #212121;
  padding: 5px;
  border: 1px solid #303030;
  border-radius: 0px 2px 2px 0px;
  border-left: 0;
}

.search-btn img{
  width: 24px;
  height: 24px;
}

.mic {
  width: 40px;
  height: 40px;
  background: #000;
  border-radius: 50%;
  margin-left: 5px;
}

.user-options{
  height: 35px;
  display: flex;
  margin-left: auto;
  align-items: center;
}

.user-options .icon{
  height: 80%;
  margin-right: 20px;
  cursor: pointer;
}

.user-dp{
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.user-dp img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* 사이드바 (nav) */


/* 비디오리스트 (id="vidioList) */

#videoList{
  overflow: unset;
  position: relative;
  justify-content: flex-start;
  gap: 40px;
  margin-left: 275px;
  margin-top: 90px;
}

#videoList > div{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}


/********** Channel **********/
#channel{
  overflow: unset;
  position: relative;
  justify-content: flex-start;
  gap: 40px;
  margin-left: 250px;
  margin-top: 65px;
}

.channel-cover{
  width: 100%;
  background-color:#1b1b1b;
}
.channel-cover> img{
  width: 100%;
}

.channel-title{
  display: flex;
  width: 100%;
  height: 100px;
  background-color:#1b1b1b;
  padding-top: 16px;
}
.channel-profile{
  display: flex;
  margin-left: 65px;
  margin-right: auto;
}
.channel-profile > img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.Chanel-Profile-name{
  padding: 18px 0px;
  flex-direction: column;
  align-items: flex-start;
  height: 80px;
}
.Chanel-Profile-name>p:nth-child(1){
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.Chanel-Profile-name>p:nth-child(2){
  color: #AAA;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.channel-title > img{
  margin: auto;
  margin-right: 65px;
  width: 116px;
  height: 36px;
}
.channel-toolbar{
  display: flex;
  height: 48px;
  padding-left: 65px;
  background-color:#1b1b1b;
}
.toolbar-menu{
  display: inline-block; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  padding: 15px 32px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #1b1b1b;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  color: #AAAAAA;
}
.toolbar-menu:active{
  border-bottom: 1px solid #AAAAAA;
}
.toolbar-search{
  width: 298px;
  height: 48px;
  display: flex;
}
.toolbar-search > img{
  margin: auto;
  margin-left: 24px;
  width: 24px;
  height: 24px;
}
.toolbar-search > button{
  display: block;
  justify-content: flex-end;
  margin: auto;
  margin-right: 65px;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
}

#smal-video, #playlist{
  margin-left: 300px;
  margin-top: 65px;
}
.xsmall-video{
  display: flex;
  flex-wrap: wrap;
}


/***** Section *****/



/********** Video **********/
/* Html 확인 후 재작업 필요 */

section > div > video{
  margin-top: 60px;
}

#videolist{
  margin-top: 60px;
}

/********** 공통 스타일 4 **********/